@charset "UTF-8";

.wrapper {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  flex-flow: column;
}

.wrapper p {
  font-size: 30px;
  font-weight: bolder;
  color:rgb(247, 168, 63)
}

.animation.com {
  height: 450px;
  width: 450px;
}

.rechapcha {
  padding: 100px 0 100px 0;
}